*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  
  color: black;
  width: auto;
  height: 100vh;

  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  text-align: center;
  margin-top: 50px;
}

h2,
h3,
p {
  margin: 0;
}
i{
  font-weight: 600;
  font-size: 20px;
}
ul li{
  list-style-type: none;
}
.container{
  margin: 0 auto;
  padding: 0 10px;
  min-width: 360px;
}
@media screen and (min-width: 1024px) {
  .container{
    width: 100%;
  }
}
/* header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #fff; 
  border-bottom: 1px solid #E5E5E5;

}

.header__nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 49px;
}

.header__nav-menu{
  display: none;
}

.header__nav-reg{
  display: none;
}

.main__container{
  overflow-x: auto;
}
/* hero section */
.hero{
  background: #E2F2FF;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10px 0 40px 0;
}

.hero__title{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #001E41;
  margin: 0 0 20px 0;
}

.hero__main-info{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  color: #001E41;
  margin-bottom: 10px;
}

.hero__aditional-info{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  color: #919191;
  margin-bottom: 20px;

}

.btn{
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 10px 30px;
  margin: 0 auto 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.0025em;
}

.btn-primary{
  background: #5D78FF;
  border-color: #5D78FF;
}

.btn:disabled{
  background: #AED1FF;
  border-color: #AED1FF;
  opacity: 1;
}
.hero__txt{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: #001E41;
  margin-bottom: 10px;
}

.hero__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px 10px;
}

.hero__item{
  
}

.hero__img{
  position: relative;
  
}

.hero__border-second{
  position: absolute;
  top: 45px;
  right: 20px;
  width: 101.49px;
  height: 54.74px;
  background: rgba(241, 247, 255, 0.9);
  box-shadow: 0px 2.40403px 12.0202px rgba(0, 0, 0, 0.12);
  border-radius: 1.61856px;
  transform: matrix(1, 0.1, -0.1, 1, 0, 0);
  animation-name: example;
  animation-duration: 4s;
}
.hero__img-first{
  max-width: 37%;
  position: absolute;
  top: -20px;
  left: 0;
  animation-name: example;
  animation-duration: 4s;
}

.hero__img-second{
  border-radius: 1.43672px;
  transform: rotate(-5deg);
  position: absolute;
  top: -3px;
  right: 0px;
  /* animation-name: example;
  animation-duration: 4s; */

}

.hero__img-third{
  max-width: 32%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% { transform: scale(0.2); opacity: 0; } 
  50% { transform: scale(1.5); opacity: 1; }
  100% { transform: scale(1); } 
}

.hero__img-main{
  margin: 0 auto;
  padding: 0 45px;
  max-width: 100%;
}

/* slider section */
.card{
  padding: 15px;
  margin: 0 auto;
  width: 50%;
}
@media screen and (max-width: 767.98px){
  .search-form{
    flex-direction: column;
  }
  .form-inline .form-group{
    margin: 0 0 15px 0;
   
  }
}

.icon {
  width: 100%;
  height: 100%;
}

/*slider*/
.slider{
  min-width: 0;
}

.slider__content-top{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 15px;
}


.slider__title{
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 130%;
  color: #919191;
}
.slider-title-accent{
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 130%;
  color: #001E41;
}

.swiper-wrapper{
  margin-bottom: 40px;
}

.swiper-slide{
  padding: 20px;
  background: #F8F8FA;
  border-radius: 10px;
  z-index: 0;
}

.slider__item-title{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  color: #001E41;
  margin-bottom: 20px;
}

.slider__item-info{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0025em;
  color: #001E41;
}

.slider__item{
  min-height: 372px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-pagination{
  position: static;
  bottom: 0;
}

.slider__btn{
  margin-bottom: 10px;
}
.slider__bottom-info{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: #001E41;
  padding-bottom: 29px;
}

.slider__item-count{
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content: end;
}

.slider__item::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 219px;
  height: 219px;
  right: 0;
  bottom: 0;
  background: url(./images/Ellipse.png) no-repeat;
  border-bottom-right-radius: 10px 10px;
  background-position: bottom right;
}

.slider__bottom{
  display: flex;
  flex-direction: column;
}

/* popup section */
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 30, 65, 0.171);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__img{
  display: none;
}
.popup__content{
  background: #fff;
  max-width: 300px;
  padding: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
  border-radius: 11.25px;
}
.popup__close{
  width: 22.5px;
  height: 22.5px;
  background: #F3F4F6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.popup__main-content{
  padding: 10px 24px 26px 24px;
}
.popup__close-img{}
.popup__title{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #001E41;
  margin-bottom: 18px;

}
.popup__txt{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.0025em;
  color: #001E41;
  margin-bottom: 18px;
}
.popup__form{

}

.popup__bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.popup__bottom-txt{
  font-family: 'Roboto';
  font-size: 9px;
  line-height: 11px;
  color: #BDBDBD;
}
.popup__bottom-txt a{
  text-decoration: underline;
}
.form-label{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 9px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #919191;
}

.form-control::placeholder{
  font-family: 'Roboto';
  font-size: 10.5px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #BDBDBD;
}

.form-check-label{
  font-family: 'Roboto';
  font-size: 9.75px;
  line-height: 11px;
  color: #919191;
}

.form-check-label a{
  font-family: 'Roboto';
  font-size: 9.75px;
  line-height: 11px;
  color: #5D78FF;
}

.dropdown{
  display: flex;
}

.dropdown .form-control{
  width: 240%;
  font-family: 'Roboto';
  font-size: 10.5px;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.dropdown .form-control:focus{
  border-color: rgba(0,0,0,0.2);
  outline: 0;
  box-shadow: none;
}

.form-select{
  border-right: none;
  font-family: 'Roboto';
  font-size: 10.5px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #001E41;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-image: url(../src/images/select.svg);
  background-size: 4px 2px;
}

.form-select:focus{
  border-color: rgba(0,0,0,0.2);
  outline: 0;
  box-shadow: none;
}

.g-3{
  flex-direction: column;
}

.col-12{
  display: flex;
  gap: 8px;
}

.col-12 .btn{
  padding: 9px 20px;  
}

.col-md-4{
  width: auto;
}
.col-md-3{
  width: auto;
}
.invalid-feedback{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 9px;
  line-height: 130%;
  letter-spacing: 0.0025em;
  color: #dc3545;

}

@media screen and (min-width: 1024px) {
  .container{
    width: 100%;
  }

  .header__nav{
    height: 77px;
  }

  .header__nav img {
    width: 140px;
    height: 34px;
  }

  .header__nav-menu{
    display: flex;
    gap: 30px;
    margin-bottom: 0;
  }
  .header__nav-item{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    color: #7D7D7D;
  }
  .header__nav-reg{
    display: flex;
    gap: 40px;
    align-items: baseline;
  }
  .header__nav-burger{
    display: none;
  }

  .header__nav-btn{
    font-family: 'Source Sans Pro';
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #5D78FF;
    background: none;
    border: none;
  }

  .header__nav-reg .btn {
    margin-bottom: 0;
  }

  .btn {
    margin: 0;
  }

  .hero__content{
    display: flex;
    justify-content: space-between;
  }

  .hero{
    margin: 40px 0 100px 0;
  }
  .hero__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: start;
  }

  .hero__aditional-info{
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0025em;
    margin-bottom: 16px;
  }

  .hero__main-info{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    text-align: start;
    margin-bottom: 6px;
  }

  .hero__txt{
    font-size: 16px;
    line-height: 150%;
    text-align: start;
    letter-spacing: 0.005em;
    margin-bottom: 6px;
  }

  .hero__items{
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 0;
  }

  .hero__item:first-child {
    width: 108px;
    height: 19px;
  }

  .hero__item:nth-child(2) {
    width: 125px;
    height: 18px;
  }

  .hero__item:nth-child(3) {
    width: 101px;
    height: 17px;
  }

  .hero__item:nth-child(4) {
    width: 81px;
    height: 21px;
  }

  .hero__item:nth-child(5) {
    width: 94px;
    height: 24px;
  }

  .hero__img {
    width: 533px;
    padding-top: 33px;
  }

  .hero__main{
    padding: 61px 0 0 41px;
  }

  .hero__main-txt{
    width: 665px;
  }

  .hero__main .btn {
    margin-bottom: 59px;
  }

  .hero__img-main{
    padding: 0;
    
  }

  .hero__border-second{
    width: 163.81px;
    height: 88.61px;
    top: 82px;
    border-radius: 2.61225px;
  }

  .hero__img-first{
    max-width: 100%;
    top: 0;
  }

  .hero__img-second{
    max-width: 100%;
    top: -5px;
    right: 0px;
  }
  .hero__border-third {
    width: 164.94px;
    height: 89.78px;
    background: rgba(241, 247, 255, 0.9);
    box-shadow: 0px 4.91924px 24.5962px rgba(0, 0, 0, 0.12);
    border-radius: 6.23592px;
    transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0);
  }
  .hero__img-third{
    max-width: 100%;
    bottom: 130px;
  }

  .slider__title{
    font-size: 36px;
    line-height: 42px;
  }

  .slider-title-accent{
    font-size: 36px;
    line-height: 42px;
  }

  .slider__item-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }

  .slider__bottom{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 74px;
  }

  .slider__item-info{
    font-size: 14px;
    line-height: 150%;
  }

  .slider__bottom-info{
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.0025em;
    max-width: 440px;
    padding-bottom: 0;
  }

  .slider__item{
    max-width: 302px;
  }

  .slider__nav{
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    }
  .swiper-next,
  .swiper-prev {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #5D78FF;
  }

  .swiper-prev::before {
    position: absolute;
    top: 7px;
    left: 7px;
    content: ' ';
    background-image: url(../src/images/left.svg);
    background-position: center;
    width: 13px;
    height: 13px;
  }

  .swiper-next::before{
    position: absolute;
    top: 7px;
    right: 7px;
    content: ' ';
    background-image: url(../src/images/right.svg);
    background-position: center;
    width: 13px;
    height: 13px;
  }

  .swiper-pagination{
    display: none;
  }
  
  .popup__main-content{
    padding: 10px 32px 5px 32px;
  }
  .popup__img{
    display: block;
  }

  .popup__img img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .popup__content {
    max-width: 400px;
    padding: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .popup__close{
    width: 30px;
    height: 30px;
  }

  .popup__close-img{
    width: 11px;
    height: 11px;
  }

  .popup__title{
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    margin-top: -19px;
  }

  .popup__txt {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.0025em;
    margin-bottom: 24px;
  }

  .form-label{
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.0025em;
  }

  .form-select{
    font-size: 14px;
    line-height: 150%;
  }

  .dropdown{
    height: 37px;
  }

  .dropdown .form-control {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0025em;
  }

  .col-12{
    margin-top: 24px;
    margin-bottom: 0;
    gap: 10px;
    justify-content: center;
  }

  .col-12 .btn {
    font-size: 16px;
    line-height: 1.13;
  }

  .form-check-label{
    font-size: 13px;
    line-height: 15px;
  }

  .form-check-label a{
    font-size: 13px;
    line-height: 15px;
  }

  .popup__bottom-txt{
    font-size: 12px;
    line-height: 1.17;
  }

  .popup__bottom img{
    width: 30px;
    height: 19px;
  }

  .col-12 .btn {
    padding: 12px 27px;
  }
}

