*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  
  color: black;
  width: auto;
  height: 100vh;

  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  text-align: center;
  margin-top: 50px;
}

h2,
h3,
p {
  margin: 0;
}
i{
  font-weight: 600;
  font-size: 20px;
}
.container{
  margin: 0 auto;
  padding: 0 10px;
  width: 360px;
}

.header {
  padding: 14px 10px;
  border-bottom: 1px solid #E5E5E5;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  width: 360px;
}

.hero{
  background: #E2F2FF;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10px 0 40px 0;
}

.hero__title{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #001E41;
  margin: 0 0 20px 0;
}

.hero__main-info{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  color: #001E41;
  margin-bottom: 10px;
}

.hero__aditional-info{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  color: #919191;
  margin-bottom: 20px;

}

.btn{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.0025em;
  padding: 10px 30px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
}
.hero__txt{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: #001E41;
  margin-bottom: 10px;
}

.hero__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px 10px;
}

.hero__item{
  
}

.hero__img{
  
}

.hero__img-main{
  margin: 0 auto;
}

.card{
  padding: 15px;
  margin: 0 auto;
  width: 50%;
}
@media screen and (max-width: 767.98px){
  .search-form{
    flex-direction: column;
  }
  .form-inline .form-group{
    margin: 0 0 15px 0;
   
  }
}

.icon {
  width: 100%;
  height: 100%;
}

/*slider*/
.slider{
  min-width: 0;
}

.slider__title{
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 130%;
  color: #919191;
  margin-bottom: 15px;
}
.slider-title-accent{
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 130%;
  color: #001E41;
}

.swiper-wrapper{
  margin-bottom: 40px;
}

.swiper-slide{
  padding: 20px;
  background: #F8F8FA;
  border-radius: 10px;
}

.slider__item-title{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  color: #001E41;
  margin-bottom: 20px;
}

.slider__item-info{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0025em;
  color: #001E41;
}

.slider__item{
  min-height: 372px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-pagination{
  position: static;
  bottom: 0;
}

.swiper-button-next:after, 
.swiper-button-prev:after{
  display: none;
}

.slider__btn{
  margin-bottom: 10px;
}
.slider__bottom-info{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: #001E41;
  padding-bottom: 29px;
}

.slider__item-count{
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content: end;
}

.slider__item-count::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 219px;
  height: 219px;
  background: #E3EEFF;
  border-radius: 50%;
  right: -109px;
  bottom: -109px;
  /* background-image: radial-gradient(circle, #E3EEFF, #E3EEFF 70%, transparent 60%); */
}